{% extends "base.html" %}

{% block title %}Ticket Management System{% endblock %}

{% block content %}

<h2 style="text-align: center;">All Tickets</h2>

{% if tickets %}
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Posted By</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Response</th>
            {% if session['role'] == 'responder' %}
                <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.username }}</td>
            <td>{{ 'Completed' if ticket.status == 'done' else ticket.status.capitalize() }}</td>
            <td>{{ ticket.created_at }}</td>
            <td>{{ ticket.responder }}</td>
            {% if session['role'] == 'responder' %}
                <td><a href="{{ url_for('update_ticket', ticket_id=ticket.id) }}"><button>Update</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p style="text-align: center;">No tickets submitted yet.</p>
{% endif %}

{% if session['role'] == 'employee' %}
    <div style="text-align: center; margin: 20px 0;">
        <a href="{{ url_for('create_ticket') }}">
            <button style="padding: 10px 20px; font-size: 16px;">Create Ticket</button>
        </a>
    </div>
{% endif %}
{% endblock %}
